@model IEnumerable<EAAA_fitness_lib.Model.FitnessClass>

<div class="jumbotron">
    <h1>Velkommen til EAAA fitness</h1>
    <p>Du kan melde dig på følgende hold hos os</p>
</div>
@Html.Partial("_FitnessClasses", Model)
